# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Mac
.DS_Store

# Dynamic-Graph-Networks/data
Dynamic-Graph-Networks/data/book_by_chapter/1884/*
Dynamic-Graph-Networks/data/book_by_chapter/Book 1 - The Philosopher's Stone/*
Dynamic-Graph-Networks/data/book_by_chapter/Book 2 - The Chamber of Secrets/*
Dynamic-Graph-Networks/data/book_by_chapter/Book 3 - The Prisoner of Azkaban/*
Dynamic-Graph-Networks/data/book_by_chapter/Book 4 - The Goblet of Fire/*
Dynamic-Graph-Networks/data/book_by_chapter/Book 5 - The Order of the Phoenix/*
Dynamic-Graph-Networks/data/book_by_chapter/Book 6 - The Half-Blood Prince/*
Dynamic-Graph-Networks/data/book_by_chapter/Book 7 - The Deathly Hallows/*
Dynamic-Graph-Networks/data/book_by_chapter/hp1/*

Dynamic-Graph-Networks/data/entity_list/*
Dynamic-Graph-Networks/data/graph/*
Dynamic-Graph-Networks/data/raw_text/*
Dynamic-Graph-Networks/data/results/*

# Dynamic-Graph-Networks/models
Dynamic-Graph-Networks/models/bert_ner_base/*

# Dynamic-Graph-Networks/old_test_files
Dynamic-Graph-Networks/old_test_files/*

# Dynamic-Graph-Networks/biblio
Dynamic-Graph-Networks/biblio/*